html {
  height: 100%;
  background: 50% 50% no-repeat;
}

h1 {
  text-align: center;
  color: #F3FBAC;
}

p {
  color: yellow;
}

body {
  background-color: #94D066;
  border: 6px solid yellow;
  border-radius: 25px;
}

marquee {
  color: yellow;
}
body {
    background-color: aqua;
    border: 4px solid gray;
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
}
